# --- Core Data Science (Windows Safe) ---
# PENTING: numpy harus di bawah 2.0.0 agar kompatibel dengan tensorflow/pytorch
numpy<2.0.0
pandas>=2.2.0
scikit-learn>=1.5.0
scipy>=1.13.0
openpyxl>=3.1.2      # WAJIB: Untuk pd.read_excel (baca file lyrics.xlsx)

# --- Audio Processing (Librosa Logic) ---
librosa>=0.10.0
soundfile>=0.12.0
audioread>=3.0.0     # Backend decoding audio universal

# --- Deep Learning 1: Audio (YAMNet & TensorFlow) ---
# Engine utama untuk Stage 1 & Audio Feature Extraction
tensorflow>=2.15.0
tensorflow-hub>=0.16.1

# --- Deep Learning 2: NLP (RoBERTa / HuggingFace) ---
transformers>=4.38.0
torch>=2.2.0         # Backend default untuk HuggingFace Pipeline

# --- System, Saving & Utilities ---
joblib>=1.3.0        # Untuk save/load model sklearn/xgboost (.pkl)
tqdm>=4.66.0         # Progress bar (biar gak bosan nunggu mining)


# --- Visualization ---
matplotlib>=3.8.0
seaborn>=0.13.0

# --- MLOps & Web (Opsional) ---
mlflow>=2.10.0
