# Laravel
app/vendor/
app/node_modules/
app/.env
app/.env.*

# Logs & cache
app/storage/logs/
app/bootstrap/cache/

# Python / ML
MachineLearning/data
MachineLearning/nlp
MachineLearning/src/__pycache__

# OS
.DS_Store
Thumbs.db

cek_path.py

# Docker local data
mysql-data/
.env.docker.local

# ML Models & Heavy binaries
*.h5
*.keras
*.pkl
*.mp3
*.wav

# Local Database binaries (Laragon/XAMPP)
webApp/mysql-*/
