@import 'tailwindcss';
@import "flowbite/src/themes/default";


@config "../../tailwind.config.js";

@source "../../node_modules/flowbite-datepicker";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'aeonik';
  src: url('../fonts/aeonik.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins.ttf');
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* custom css */
@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
    max-width: 100vw;
  }
}

@layer components {
  .container-body {
    max-width: 2560px;
    min-height: 100svh;
    overflow-x: hidden;
    @apply bg-primary-100 mx-auto;
  }

  .datepicker-picker {
    background: #ffffff !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 12px;
    zoom: .85;
  }

  .error-message {
    @apply text-error-moderate w-[inherit] h-3 pt-0.5 text-micro md:text-small;
  }

  @keyframes contentFadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .contentFadeLoad {
    animation: contentFadeUp 0.75s ease-in-out forwards;
  }
}

@layer utilities {
  .expandWidth {
    width: 4rem;
    opacity: 0.75;
    transform: scaleY(0.5);
  }

  .collapseWidth {
    width: 2rem;
    opacity: 1;
    transform: scaleY(1);
  }

  .hamburger-line {
    transition:
      width .35s linear,
      opacity .35s linear,
      transform .35s linear;
  }

  @keyframes bouncyMusicNot {
    0% {
      top: -40%;
      left: 0%;
    }

    35% {
      top: 30%;
      left: 10%;
      translate: 0% 0%;
    }

    70% {
      top: 7%;
      left: 20%;
    }

    100% {
      top: 15%;
      left: 35%;
    }
  }

  .bouncyNote {
    animation: bouncyMusicNot .75s linear forwards;
  }

  @keyframes float-vertical-soft {
    0% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-5px);
    }

    60% {
      transform: translateY(-7px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .animate-float-soft {
    animation: float-vertical-soft 2.25s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes typing-text {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }

  .typingTextAnimation {
    animation: typing-text 4s steps(60, end) forwards;
  }

}

/* Hide default Livewire progress bar */
#nprogress {
  display: none;
}