@import 'tailwindcss';
@import "flowbite/src/themes/default";

@config "../../tailwind.config.js";

@source "../../node_modules/flowbite-datepicker";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'aeonik';
  src: url('../fonts/aeonik.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins.ttf');
}

input:focus, 
textarea:focus, 
select:focus, 
button:focus {
  outline: none;
}

// custom css
@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
    max-width: 100vw;
  }
}

@layer components {
  .container-body {
    max-width: 2560px;
    min-height: 100dvh;
    overflow-x: hidden;
    @apply bg-primary-100;
  }

  .datepicker-picker {
    background: #ffffff !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 12px;
    zoom: .85;
  }

  .error-message {
    @apply text-error-moderate w-[inherit] h-3 pt-0.5 text-micro md:text-small;
  }
}

@layer utilities {
  @keyframes changingWidth {
    0% {
      width: 2rem;        
      opacity: 1;
      transform: scaleY(1);
    }

    100% {
      width: 4rem;   
      opacity: 0.75;
      transform: scaleY(0.5);
    }
  }

  .expandWidth {
    animation: changingWidth .5s linear forwards;
  }

  .collapseWidth {
    animation: changingWidth .5s linear reverse;
  }

  /* top-1/2 left-1/10 w-7 h-7 -translate-y-1/2 */
  @keyframes bouncyMusicNot {
    0% {
      top: -40%;
      left: 0%;
    }

    35% {
      top: 30%;
      left: 10%;
      translate: 0% 0%;
    }

    70% {
      top: 7%;
      left: 20%;
    }

    100% {
      top: 15%;
      left: 35%;
    }
  }

  .bouncyNote {
    animation: bouncyMusicNot 1s linear forwards;
  }
}
